.badge {
	padding-top: 4px;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-x-hidden {
	overflow-x: hidden;
}

.overflow-y-hidden {
	overflow-y: hidden;
}

.text-shadow-dark {
	text-shadow: 0 0 2px #000;
}

.dataTables_wrapper .paginate_button {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.nav-link.active {
	color: #1b68ff !important;
}

.table th {
	color: rgb(90, 90, 90) !important;
}

.dark .table th {
	color: rgb(240, 240, 240) !important;
}

.table-bordered {
	border: 1px solid rgb(160, 160, 160) !important;
}

.table-bordered th,
.table-bordered td {
	border: 1px solid rgb(160, 160, 160) !important;
}

.dark .table-bordered {
	border: 1px solid rgb(240, 240, 240) !important;
}

.dark .border {
	border: 1px solid rgb(240, 240, 240) !important;
}

.dark .table-bordered th,
.dark .table-bordered td {
	border: 1px solid rgb(240, 240, 240) !important;
}

.btn-success {
	color: #fff;
}

.btn-success:hover {
	color: rgb(30, 30, 30);
}
